.menu__inner{position:relative;margin:0
    auto}@media (min-width: 686px){.menu
    .menu__inner{max-width:576px}}@media (min-width: 930px){.menu
    .menu__inner{max-width:820px}}@media (min-width: 1210px){.menu
    .menu__inner{max-width:1100px}}@media (min-width: 1510px){.menu
    .menu__inner{max-width:1400px}}.menu .menu__inner::after{content:"";display:table;clear:both}.menu .menu__inner .menu__left,.menu .menu__inner
    .menu__right{list-style-type:none;margin:0;padding:0}.menu .menu__inner
    .menu__left{float:left}.menu .menu__inner
    .menu__right{float:right}.menu .menu__inner
    li.menu__item{position:relative;float:left}.menu .menu__inner li.menu__item:before{position:absolute;left:0;top:calc(50% - 15px / 2);display:block;height:15px;width:1px;background:#3e3d3d;content:""}.menu .menu__inner li.menu__item:first-child:before{display:none}.menu .menu__inner
    a{font-family:"museo-sans",sans-serif;font-weight:700;font-size:18px;padding:0
    25px;display:block;text-transform:lowercase;color:#FFF;transition:.2s}.menu .menu__inner li.selected a:after{position:absolute;background:#8ec63f;display:block;content:"";width:calc(100% - 50px);height:6px;bottom:0;left:25px}.menu .menu__inner li.selected
    a{color:#fff}.menu .menu__inner a:hover{color:#8ec63f}.menu .menu__inner
    .menu__logo{float:left;padding:0;width:185px}.menu .menu__inner .menu__logo
    img{max-width:100%;max-height:81px}@media (max-width: 1509px){.menu .menu__inner
    a{padding:0
    12px;font-size:16px}.menu .menu__inner li.selected a:after{left:10px;width:calc(100% - 20px)}
    .menu .menu__inner
    .menu__logo{left:calc(50% - 150px / 2);width:150px}}@media (max-width: 1209px){.menu__right,.menu__left{display:none}
}

.top-menu{position:fixed;width:100%;z-index:10;transition:.3s}.top-menu.top-menu--open{transform:translateX(-256px)}.top-menu.top-menu--fixed .mobile-btns{top:15px}.top-menu.top-menu--fixed .menu-extra{height:0}@media (max-width: 685px){.top-menu .mobile-btns{top:15px}.top-menu .menu-extra{display:none}.top-menu.top-menu--fixed
.menu{height:60px;line-height:60px;overflow:scroll}.top-menu.top-menu--fixed .menu
.menu__logo{margin-top:7px;left:calc(50% - 100px / 2);width:75px}.top-menu.top-menu--fixed .menu .mobile-btns{top:0px}.top-menu.top-menu--fixed .menu .mobile-btns .mobile-btns__btn{padding-top:17px;padding-bottom:17px}}

.menu-toggle{position:absolute;display:block;font-size:12px;right:0;top:0;width:41px;height:100%;line-height:48px;text-align:center;border-left:1px solid #201a1c;color:#FFF}.slide-menu__section a .menu-toggle:before{transform:rotate(90deg) scale(-1, 1);transition:.2s}.slide-menu__section a.slide-menu__link.slide-menu__link--c2a{color:#fff;background:#8ec63f}.slide-menu__section .slide-menu__buttons{margin-bottom:15px;border-bottom:1px solid #a4acb2}.slide-menu__section .slide-menu__buttons::after{content:"";display:table;clear:both}.slide-menu__section .slide-menu__buttons
a{display:block;float:left;width:50%;padding:10px
0;text-align:center}.slide-menu__section .slide-menu__buttons a
.icon{display:block;font-size:18px}.slide-menu__section .slide-menu__buttons a:nth-child(2n+2){border-left:1px solid #a4acb2}.slide-menu__section li.open .menu-toggle:before{transform:rotate(90deg)}.slide-menu__section-title{text-transform:uppercase;color:#85888d;font-weight:200;font-size:13px;letter-spacing:1px;padding:0
20px;margin:0}#right-menu{right:0;left:auto;border-left:1px solid #201a1c}.menu--top-layer{z-index:1}.slide-menu__search{text-align:center}@media (max-width: 685px){#slide-panel{padding-top:100px}#left-menu{padding-top:59px}}

.menu{margin-left:auto;margin-right:auto;padding-left:15px;padding-right:15px;background:#140f11;height:100px;line-height:100px}
.menu .menu__inner{position:relative;margin:0
    auto}@media (min-width: 686px){.menu
    .menu__inner{max-width:576px}}@media (min-width: 930px){.menu
    .menu__inner{max-width:820px}}@media (min-width: 1210px){.menu
    .menu__inner{max-width:1100px}}@media (min-width: 1510px){.menu
    .menu__inner{max-width:1400px}}.menu .menu__inner::after{content:"";display:table;clear:both}.menu .menu__inner .menu__left,.menu .menu__inner
    .menu__right{list-style-type:none;margin:0;padding:0}.menu .menu__inner
    .menu__left{float:left}.menu .menu__inner
    .menu__right{float:right}.menu .menu__inner
    li.menu__item{position:relative;float:left}.menu .menu__inner li.menu__item:before{position:absolute;left:0;top:calc(50% - 15px / 2);display:block;height:15px;width:1px;background:#3e3d3d;content:""}.menu .menu__inner li.menu__item:first-child:before{display:none}.menu .menu__inner
    a{font-family:"museo-sans",sans-serif;font-weight:700;font-size:18px;padding:0
    25px;display:block;text-transform:lowercase;color:#FFF;transition:.2s}.menu .menu__inner li.selected a:after{position:absolute;background:#8ec63f;display:block;content:"";width:calc(100% - 50px);height:6px;bottom:0;left:25px}.menu .menu__inner li.selected
    a{color:#fff}.menu .menu__inner a:hover{color:#8ec63f}.menu .menu__inner
    .menu__logo{float:left;padding:0;width:185px}.menu .menu__inner .menu__logo
    img{max-width:100%;max-height:81px}@media (max-width: 1509px){.menu .menu__inner
    a{padding:0
    12px;font-size:16px}.menu .menu__inner li.selected a:after{left:10px;width:calc(100% - 20px)}.menu .menu__inner
    .menu__logo{left:calc(50% - 150px / 2);width:150px}}@media (max-width: 1209px){.menu__right,.menu__left{display:none}}

    .w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
    .w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
    .w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
    .w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}.w3-centered tr th,.w3-centered tr td{text-align:center}
    .w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
    .w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}
    .w3-amber,.w3-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.w3-aqua,.w3-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.w3-light-blue,.w3-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.w3-brown,.w3-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.w3-cyan,.w3-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.w3-blue-grey,.w3-hover-blue-grey:hover,.w3-blue-gray,.w3-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.w3-light-green,.w3-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.w3-indigo,.w3-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.w3-khaki,.w3-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.w3-lime,.w3-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.w3-orange,.w3-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.w3-deep-orange,.w3-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.w3-pink,.w3-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.w3-purple,.w3-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.w3-deep-purple,.w3-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.w3-sand,.w3-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.w3-teal,.w3-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.w3-yellow,.w3-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.w3-pale-red,.w3-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.w3-pale-green,.w3-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.w3-pale-yellow,.w3-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.w3-pale-blue,.w3-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.w3-text-amber,.w3-hover-text-amber:hover{color:#ffc107!important}
.w3-text-aqua,.w3-hover-text-aqua:hover{color:#00ffff!important}
.w3-text-blue,.w3-hover-text-blue:hover{color:#2196F3!important}
.w3-text-light-blue,.w3-hover-text-light-blue:hover{color:#87CEEB!important}
.w3-text-brown,.w3-hover-text-brown:hover{color:#795548!important}
.w3-text-cyan,.w3-hover-text-cyan:hover{color:#00bcd4!important}
.w3-text-blue-grey,.w3-hover-text-blue-grey:hover,.w3-text-blue-gray,.w3-hover-text-blue-gray:hover{color:#607d8b!important}
.w3-text-green,.w3-hover-text-green:hover{color:#4CAF50!important}
.w3-text-light-green,.w3-hover-text-light-green:hover{color:#8bc34a!important}
.w3-text-indigo,.w3-hover-text-indigo:hover{color:#3f51b5!important}
.w3-text-khaki,.w3-hover-text-khaki:hover{color:#b4aa50!important}
.w3-text-lime,.w3-hover-text-lime:hover{color:#cddc39!important}
.w3-text-orange,.w3-hover-text-orange:hover{color:#ff9800!important}
.w3-text-deep-orange,.w3-hover-text-deep-orange:hover{color:#ff5722!important}
.w3-text-pink,.w3-hover-text-pink:hover{color:#e91e63!important}
.w3-text-purple,.w3-hover-text-purple:hover{color:#9c27b0!important}
.w3-text-deep-purple,.w3-hover-text-deep-purple:hover{color:#673ab7!important}
.w3-text-red,.w3-hover-text-red:hover{color:#f44336!important}
.w3-text-sand,.w3-hover-text-sand:hover{color:#fdf5e6!important}
.w3-text-teal,.w3-hover-text-teal:hover{color:#009688!important}
.w3-text-yellow,.w3-hover-text-yellow:hover{color:#d2be0e!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-text-black,.w3-hover-text-black:hover{color:#000!important}
.w3-text-grey,.w3-hover-text-grey:hover,.w3-text-gray,.w3-hover-text-gray:hover{color:#757575!important}
.w3-text-light-grey,.w3-hover-text-light-grey:hover,.w3-text-light-gray,.w3-hover-text-light-gray:hover{color:#f1f1f1!important}
.w3-text-dark-grey,.w3-hover-text-dark-grey:hover,.w3-text-dark-gray,.w3-hover-text-dark-gray:hover{color:#3a3a3a!important}
.w3-border-amber,.w3-hover-border-amber:hover{border-color:#ffc107!important}
.w3-border-aqua,.w3-hover-border-aqua:hover{border-color:#00ffff!important}
.w3-border-blue,.w3-hover-border-blue:hover{border-color:#2196F3!important}
.w3-border-light-blue,.w3-hover-border-light-blue:hover{border-color:#87CEEB!important}
.w3-border-brown,.w3-hover-border-brown:hover{border-color:#795548!important}
.w3-border-cyan,.w3-hover-border-cyan:hover{border-color:#00bcd4!important}
.w3-border-blue-grey,.w3-hover-border-blue-grey:hover,.w3-border-blue-gray,.w3-hover-border-blue-gray:hover{border-color:#607d8b!important}
.w3-border-green,.w3-hover-border-green:hover{border-color:#4CAF50!important}
.w3-border-light-green,.w3-hover-border-light-green:hover{border-color:#8bc34a!important}
.w3-border-indigo,.w3-hover-border-indigo:hover{border-color:#3f51b5!important}
.w3-border-khaki,.w3-hover-border-khaki:hover{border-color:#f0e68c!important}
.w3-border-lime,.w3-hover-border-lime:hover{border-color:#cddc39!important}
.w3-border-orange,.w3-hover-border-orange:hover{border-color:#ff9800!important}
.w3-border-deep-orange,.w3-hover-border-deep-orange:hover{border-color:#ff5722!important}
.w3-border-pink,.w3-hover-border-pink:hover{border-color:#e91e63!important}
.w3-border-purple,.w3-hover-border-purple:hover{border-color:#9c27b0!important}
.w3-border-deep-purple,.w3-hover-border-deep-purple:hover{border-color:#673ab7!important}
.w3-border-red,.w3-hover-border-red:hover{border-color:#f44336!important}
.w3-border-sand,.w3-hover-border-sand:hover{border-color:#fdf5e6!important}
.w3-border-teal,.w3-hover-border-teal:hover{border-color:#009688!important}
.w3-border-yellow,.w3-hover-border-yellow:hover{border-color:#ffeb3b!important}
.w3-border-white,.w3-hover-border-white:hover{border-color:#fff!important}
.w3-border-black,.w3-hover-border-black:hover{border-color:#000!important}
.w3-border-grey,.w3-hover-border-grey:hover,.w3-border-gray,.w3-hover-border-gray:hover{border-color:#9e9e9e!important}
.w3-border-light-grey,.w3-hover-border-light-grey:hover,.w3-border-light-gray,.w3-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.w3-border-dark-grey,.w3-hover-border-dark-grey:hover,.w3-border-dark-gray,.w3-hover-border-dark-gray:hover{border-color:#616161!important}
.w3-border-pale-red,.w3-hover-border-pale-red:hover{border-color:#ffe7e7!important}.w3-border-pale-green,.w3-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.w3-border-pale-yellow,.w3-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.w3-border-pale-blue,.w3-hover-border-pale-blue:hover{border-color:#e7ffff!important}